// .bookmarks {
//   display: flex;
//   flex-direction: column;
// }

// .bookmarked-list {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }


// .bookmarked-item {

// }

tr {
  width: 313px;
  height: auto;
  display: grid;
  grid-template-columns: 2.75fr 0.25fr;
  padding: 8px 0px;
}

#problem-title {
  background-color: $dark-blue;
  color: white;
  font-size: 13px;
  font-weight: 900;
  width: 90px;
  height: auto;
  padding: 6px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

#solution-title {
  background-color: $light-blue;
  color: white;
  font-size: 13px;
  font-weight: 900;
  width: 90px;
  height: auto;
  padding: 6px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 4px;
}
