.chatrooms-list {
    list-style-type: none;
    padding-left: 20px;
}

.chatroom-item {
    display: flex;
    align-items: center;
    img {
    height: 36px;
    width: 36px;
    margin: 0px 16px;
    }
}

.chat-container {
    max-height: 100vh;
    padding: 0 20px;
}

.chat-head {
    //height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    h3 {
        margin: 0;
    }
}

.upload-btn {
    background-color: $yellow;
    color: $white;
    border-radius: 50%;
    font-size: 50px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 4px 10px rgba(45, 64, 89, 0.12);
    padding: 10px;
    // position: relative;
    // left: 78vw;
    // bottom: 60px;
}

#messages {
    display: flex;
    overflow-y: scroll;
    height: fit-content;
    height: 72vh;
    flex-direction: column;
}

.message-container {
    width: 70vw;
    background-color: $light-gray;
    border-radius: 10px;
    padding: 8px;
    margin: 8px 0px;
    align-self: end;
    p {
        margin: 0px;
        font-size: 14px;
        font-weight: 300;
    }
    .message-author {
        font-family: $headers-font;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 4px;
    }
}

.message-container.blue {
    color: $white;
    background-color: $dark-blue;
    align-self: flex-end;
}
.chat-container form {
    align-self: end;
    display: flex;
    height: 38px;
    margin: 16px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    input {
        background-color: $light-gray;
        border: 0px;
        border-radius: 0px;
    }
    .message_content {
        width: 100%;
    }
    #message_content {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .btn {
        background-color: $yellow;
        color: $white;
        border-radius: 5px;
        font-size: 25px;
        padding: 0 8px;
        margin: 0;
    }
}

.btn svg {
    display: flex;
}



