// Specific CSS for your home-page
.home-bg {
  background-color: $dark-blue;
  margin-top: 0;
  padding-top: 150px;
  //padding-bottom: 100px;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  h1 {
    padding-left: 20px;
    margin: 0;
  }
}

.logo {
  margin-bottom: 20px;
}

.hussl-big-white {
  color: $white;
  padding-left: 20px;
  padding-right: 40px;
  margin-bottom: 0;
}

.hussl-big-yellow {
  color: $yellow;
}

.hussl-small-white {
  color: $white;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.hussl-small-blue {
  color: $dark-blue;
  margin-bottom: 0;
}

.cta {
  margin: 20px 20px;

  .btn {
    background-color: $yellow;
    color: $white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; 
  }

  h5 {
    text-align: center;
    padding-bottom: 20px;
  }
}

.home-card {
  height: 100vh;
  width: 100vw;
  //z-index: -10;
  //position: absolute;
}

.home-arrow {
  font-size: 100px;
  justify-content: center;
  display: flex;
  padding-top: 240px;
}


.home-carousel-scroller {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.circle-icon {
  font-size: 100px;
  color: $light-blue;
  border-radius: 50%;
  width: 100px;
  opacity: 0.5;
}

#hand {
  font-size: 70px;
  margin: 15px;
}

#second {
  text-align: center;
  padding: 40px 20px;
  background-color: $white;
  color: $dark-blue;
  
}

.step-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}