// Specific CSS for your home-page
.home-bg {
  background-color: $dark-blue;
  margin-top: 0;
  padding-top: 150px;
  //padding-bottom: 100px;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  h1 {
    padding-left: 20px;
    margin: 0;
  }
}

.logo {
  margin-bottom: 20px;
}

.hussl-big-white {
  color: $white;
  padding-left: 20px;
  padding-right: 40px;
  margin-bottom: 0;
}

.hussl-big-yellow {
  color: $yellow;
}

.hussl-small-white {
  color: $white;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.hussl-small-blue {
  color: $dark-blue;
  margin-bottom: 0;
}

.cta {
  margin: 20px 20px;

  .btn {
    background-color: $yellow;
    color: $white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; 
  }

  h5 {
    text-align: center;
    padding-bottom: 20px;
  }
}

.home-card {
  height: 100vh;
  width: 100vw;
  //z-index: -10;
  position: absolute;
}

.home-arrow {
  font-size: 100px;
  justify-content: center;
  display: flex;
  padding-top: 230px;
}


.home-carousel-scroller {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}


