.ranking-list {
	font-family: "Spartan", "sans-serif";
	padding-left: 30px;
	padding-right: 30px;
	font-size: 14px;
	font-weight: bold;

	.top-three-items {
		background-color: rgba(165, 163, 163, 0.1);
	}

	li {
		border-bottom: 1px solid lightgray;
	}

	:last-child {
		border-bottom: 0px;
	}
}

.ranking-item {
	display: flex;
	justify-content: space-between;
	padding: 16px 10px;
	align-items: center;
	p {
		font-family: "Spartan", "sans-serif";
		font-size: 14px;
		margin: 0;
		font-weight: 500;
	}
}