.first-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 24px;

  .problem-card {
    padding: 16px 8px;
    background-color: $red;
    border-radius: 8px;
    height: 90px;
    width: 90px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 8px;
  }

  .solution-card {
    padding: 16px 8px;
    background-color: $green;
    border-radius: 8px;
    height: 90px;
    width: 90px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 8px;
  }

  .pitch-card {
    padding: 16px 8px;
    background-color: $dark-blue;
    border-radius: 8px;
    height: 90px;
    width: 90px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 8px;
  }
}

.profile-table {
  width: 313px;
  height: auto;
  display: grid;
  grid-template-columns: 0.3fr 2.45fr 0.25fr;
  padding-bottom: 8px;
}

.user-problems {
  height: 24px;
  width: 24px;
  color: white;
  background-color: $red;
  border-radius: 5px;
}
.user-solutions {
  height: 24px;
  width: 24px;
  color: white;
  background-color: $green;
  border-radius: 5px;
}

.user-pitches {
  height: 24px;
  width: 24px;
  color: white;
  background-color: $dark-blue;
  border-radius: 5px;
}
1q
.name {
  text-align: center;
  width: 100vw;
}
}
