.solution-container {
  margin-bottom: 40px;
}

h5 {
  font-size: 12px;
}


.pitch-section {
  width: auto;

  .submit-pitch {
    display: flex;
    justify-content: space-between;
    padding: 24px O;
  }

  #pitch-title {
    font-size: 11px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

li .actions i {
  margin-right: 4px;
}

