<div class="ideate-page container">
  <h2>Ideate</h2>

  <%= render "shared/ideate-tabs" %>

  <% @categories.each do |tag| %>
    <%= tag %>
    <% @problems.each do |problem| %>
      <%= render "problem_card", problem: problem, tag: tag, star: true %>
    <% end %>
  <% end %>


  <%= link_to 'Share a problem', new_problem_path %>
</div>
