<h2>Problems leaderboard</h2>

<% @votes.first(10).each do |vote| %>
    <% problem = Problem.find(vote.first) %>
    <%= link_to problem_path(problem) do %>
        <div>
            <p><%= problem.title %><%= vote.last %></p>
        </div>
    <% end %>
<% end %>