<h2>Problems leaderboard</h2>

<% @votes.each do |votable| %>
    <%= link_to problem_path(votable) do %>
        <div>
            <h5><%= votable.title %> - Votes: <span><%= votable.votes.count %></span></h5>
        </div>
    <% end %>
<% end %>