<h2>Problems leaderboard</h2>

<% @problems.each do |problem| %>
    <%= link_to problem_path(problem) do %>
        <div>
            <h5><%= problem.title %> - Votes: <span><%= problem.votes.count %></span></h5>
        </div>
    <% end %>
<% end %>