<h2>Chatrooms</h2>

<% @chatrooms.each do |chatroom| %>
    <ul>
        <% if chatroom.solution.user === current_user || chatroom.solution.collaborators.include?(current_user) %>
        <li><%= link_to chatroom.name, chatroom_path(chatroom) %></li>
        <% end %>
    </ul>
<% end %>