<div class="ideate-page">
  <div class="notif-container">
    <div>
      <%= render "shared/header" %>

      <h2>Notifications</h2>
    </div>
    <br>
    <div class="notifications">
      <ul class="notif-list" id="js-notification-list" data-user="<%= current_user.id %>">
        <% if @notifications.empty? %>
          <p class="alert alert-warning">You are all caught up! 🎉</p>
          <% else %>
          <% @notifications.each do |notif| %> 
            <%= render 'shared/notification', notif: notif %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
