<ul class="nav">
  <li class="nav-item">
    <h4><%= link_to 'Problems', leaderboard_problems_path, class: "#{ current_page?(leaderboard_problems_path) ? "nav-link tabs active" : "nav-link tabs" }" %></h4>
  </li>
  <li class="nav-item">
    <h4><%= link_to 'Solutions', leaderboard_solutions_path, class: "#{ current_page?(leaderboard_solutions_path) ? "nav-link tabs active" : "nav-link tabs" }" %></h4>
  </li>
  <li class="nav-item">
    <h4><%= link_to 'Pitches', leaderboard_pitches_path, class: "#{ current_page?(leaderboard_pitches_path) ? "nav-link tabs active" : "nav-link tabs" }" %></h4>
  </li>
</ul>