<div class="home-bg">
  <div>
    <h1 class="hussl-big-white">hussl<span class="hussl-big-yellow">.</span></h1>
    <h4 class="hussl-small-white">Make it happen.</h4>
  </div>

  <div class="cta">
  <h5>Start ideating now</h5>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn' %>
    <%= link_to 'Log in', new_user_session_path, class: 'btn' %>
  </div>
  <%= render "shared/navbar" if user_signed_in? %>
</div>
