.card-carousel {
  .card-carousel-scroller {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-left: -20px;
    padding-left: 20px;
  }
}
