.wrapper-pages {
  position: relative;
}

.comment {
  background-color: $light-gray;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding: 10px 12px;
  margin-bottom: 6px;

  #username {
    color:$dark-blue;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-bottom: 2px;
  }

  p {
    color:$dark-blue;
    font-size: 12px;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
  }
}

.comment-bar {
  position: sticky;
  bottom: 0px;
  display: flex;
  background-color: $white;
  width: -webkit-fill-available;
  padding: 16px 20px;
  form {
    display: flex;
    height: 35px;
    width: inherit;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  span {
    width: -webkit-fill-available;
    background-color: $light-gray;
  }

  .form-control.text.required {
    height: 35px;
    background-color: $light-gray;
    border: 0px;
  }
}

.comment-bar .btn {
  background-color: $yellow;
  color: $white;
  border-radius: 5px;
  font-size: 25px;
  padding: 0 8px;
  margin: 0;
}

.comment-bar .btn svg {
display: flex;
}
