.form {
  padding: 0px 20px;
  letter-spacing: 0.5px;
  position: relative;
  overflow-y: scroll;
  h4 {
    margin: 30px 0px;
    text-align: center;
    font-weight: bold;
    }

  .string.required, .select.optional, .text.required, .string.optional {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .form-control.string.required, .form-control.select.optional, .form-control.text.required, .form-control.string.optional {
    background-color: $light-gray;
    border: none;
    font-weight: lighter;
  }

  .btn {
    width: 100%;
    letter-spacing: 0.5px;
    background-color: $yellow;
    color: $white;
    border-radius: 50px;
    box-shadow: $box-shadow;
    margin: 10px 0;
  }

}

