.login-bg {
  background-color: $dark-blue;
  margin-top: 0;
  padding-top: 150px;
  padding-bottom: 100px;
  width: 100vw;
}

.row {
  width: 100vw;
  align-items: center;
}

.padding-none {
  padding-right: 0;
}

.form-login {
  background-color: $dark-blue;
  color: $white;
  padding: 20px;
  margin-top: 0;
  h4 {
    margin: 20px 0px;
    text-align: center;
  }

  .btn {
    width: 100%;
    background-color: $yellow;
    color: $white;
  }
}

.hussl-big-white {
  color: $white;
  padding-left: 20px;
  padding-right: 40px;
  margin-bottom: 0;
}

.hussl-big-yellow {
  color: $yellow;
}

.hussl-small-white {
  color: $white;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
}