.navbar {
  z-index: 21;
  justify-content: space-between;
  background: white;
  overflow: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0 !important;
}

.icons {
  display: inline-block;
  height: 30px;
  width: 30px;
  -webkit-filter: drop-shadow( 0 0 8px #E6E6E6 );
  filter: drop-shadow( 0 0 8px #E6E6E6 );
}

.open-button {
  display: flex;
  justify-items: center;
  align-items: center;
}

.fas {
  font-size: 18px;
  padding: 1px;
  text-align: center;
}


.active {
  color: $yellow;
}

