.pitch-container {
    overflow-x: hidden;
}

.tags-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .time {
        font-size: 14px;
        opacity: 0.7;
        text-align: right;
    }
}

.pitch-link{
    margin: 0;
    margin-left: -20px;
    text-align: center;
    line-height: 40px;
}

@media only screen and (min-width: 768px) {
    .pitch-info {
        display: flex;
        align-items: space-between;
        .info-left, .pitch-link {
            width: 50%;
        }
        .info-left {
            padding-right: 20px;
        }
    }
    .pitch-link {
        margin-left: 0px;
        padding-left: 20px;
    }
    iframe {
        width: -webkit-fill-available;
    }
}