.pitch-card {
    height: 234px;
    width: 160px;
    margin: 4px;
    border-radius: 10px;
    color: $white;
    align-items: flex-end;
    display: flex;
}

.pitch-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin: 8px 16px;
    font-family: $headers-font;
    i {
        margin-right: 2px;
    }
    p {
       margin: 0; 
       font-size: 14px;
    }
    h5 {
        margin: 0;
        font-weight: 400;
        max-width: 90px;
    }
}

.pitch-votes {
    align-items: center;
}