.problem-show-card-container {
  background-color: $dark-blue;
  height: auto;
  width: auto;
  border-radius: 10px;
  padding: 8px 16px 16px 16px;
  color: $white;

  .tags {
    margin: 10px 0 18px 0;
  }

  h6 {
    color: lightgray;
    font-size: 10px;
    margin-top: 24px;
  }
}

.bottom-card {
  display: flex;
  justify-content: space-between;

  p {
    margin-bottom: 0;
  }
  
  .actions, i, svg {
    color: $white;
    margin-left: 10px;
  }
}

.time-section {
  margin-top: 10px;
  margin-bottom: 0;
  p {
  font-size: 11px;
  color: lightgray;
  }
}

#solutions-list {
  li {
    border-bottom: 1px solid lightgray;
    align-items: center;
  }
  :last-child {
    border-bottom: 0px;
  }
  .actions span, i {
    color: lightgray;
  }
}