.tag-container {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  color: $white;

 
  .problem-tag {
    background-color: $red;
    width: auto;
    padding: 6px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }


  .solution-tag {
    background-color: $green;
    width: auto;
    padding: 6px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  .pitch-tag {
    background-color: $dark-blue;
    width: auto;
    padding: 6px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  .category-tag {
    background-color: $yellow;
    width: auto;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    p {
      color: $dark-blue;
      font-weight: 900;
    }
  }
  
  p {
    font-size: 13px;
    font-weight: 900;
    margin: 0;
  }

}