// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/new-problem-form";
@import "pages/index";

body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $dark-blue;

  &:hover {
    text-decoration: none;
    color: $yellow
  }
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

.tiny-icon {
  height: 24px;
  width: 24px;
}

img {
  border-radius: 50%;
}

.small-btn {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 800;
  width: 10%;
  letter-spacing: 0.5px;
  background-color: $yellow;
  color: $white;
  border-radius: 50px;
  box-shadow: $box-shadow;
  margin: 10px 0;
}

.breadcrumb {
  background-color: white;
  padding: 0 ;
}

.ideate-page {
  padding-bottom: 100px;
}

.header {
  background-color: white;
  width:100vw;
  z-index: 1000;
  h2 {
    padding: 0 20px;
  }
  .logo {
    padding: 0 20px;
  }
}

.logo .card-img-top, .fa-user-circle {
  font-size: 36px;
}

.btn-profile {
  padding-top: 10px;
}

.pad-left {
  padding-left: 20px;
}

.container {
  margin-top: 0;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-container {
  margin-top: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 110px;
}

.form-container {
  height: 100vh;
  overflow-y: scroll;
  //padding-bottom: 200px;
}

.white {
  color: $white;
}

.nav {
  padding: 0 22px;
  position: sticky;
  top: 0;
  z-index: 21;
  background: $white;
}

.header-pad {
  padding: 0px 20px;
}

.vertical-nav {
  height: 100%;
  width: 250px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  
  .logo {
    font-size: 36px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 0px;
    padding-top: 0px;
  }
}
