// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $dark-blue;

  &:hover {
    text-decoration: none;
    color: $yellow
  }
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

.tiny-icon {
  height: 24px;
  width: 24px;
}

.pitch-link {
  padding: 0px;
  margin: 0px;
}

img {
  border-radius: 50px;
}

.small-avatar {
  height: 24px;
  width:24px;
}

.small-btn {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 800;
  width: 10%;
  letter-spacing: 0.5px;
  background-color: $yellow;
  color: $white;
  border-radius: 50px;
  box-shadow: $box-shadow;
  margin: 10px 0;
}

.breadcrumb {
  background-color: white;
  padding: 0 ;
}

.ideate-page {
  padding-bottom: 100px;
}

.header {
  background-color: white;
  width:100vw;
  position: fixed;
  padding: 0 20px;
  z-index: 1000;
}

.ideate-content-container {
  padding-top: 180px;
}

.btn-profile {
  padding-top: 10px;
}

.pad-left {
  padding-left: 20px;
}
