<div class="ideate-page">

  <div class="text-right" style="font-size:7vw">
    <%= link_to user_profiles_path(current_user) do %>
      <i class="far fa-user"></i>
    <% end %>
  </div>

  <h2>Ideate</h2>

  <%= render "shared/ideate-tabs" %>

  <% @categories.each do |tag| %>
    <div class="card-carousel">
      <h5 class="pt-4 mb-0"><%= tag.upcase %></h5>
      <div class="card-carousel-scroller">
        <% @solutions.each do |solution| %>
          <%= render "solution-card", solution: solution, tag: tag, star: true %>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
