<h2>Solutions leaderboard</h2>

<% @votes.first(10).each do |vote| %>
    <% solution = Solution.find(vote.first) %>
    <%= link_to solution_path(solution) do %>
        <div>
            <p><%= solution.title %> Votes: <%= vote.last %></p>
        </div>
    <% end %>
<% end %>