<h2>Solutions leaderboard</h2>

<% @solutions.each do |solution| %>
    <%= link_to solution_path(solution) do %>
        <div>
            <h5><%= solution.title %> - Votes: <span><%= solution.votes.count %></span></h5>
        </div>
    <% end %>
<% end %>